* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(to right, #2c2f7f, #4a59ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    gap: 30px;
}

.card {
    background: #eee;
    width: 250px;
    padding: 40px 20px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card h2 {
    font-size: 18px;
    margin-bottom: 30px;
}

.icon {
    font-size: 40px;
    margin-bottom: 20px;
}

.card p {
    font-size: 8px;
    margin-bottom: 30px;
}

button {
    font-family: 'Press Start 2P', cursive;
    padding: 15px;
    width: 100%;
    border: none;
    background: #ddd;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {  
    background: #3b4bff;
    color: white;
}

/* Warna Icon */
.youtube .icon { color: #ff0000; }
.twitter .icon { color: #1da1f2; }
.google .icon { color: #db4437; }
.tiktok .icon { color: #000; }